# .gitignore

# Java class files
*.class

# Object and archive files
# Can use regular expression. e.g.. [oa]matches either o or a
*.[oa]

# temp sub-directory (ended with a directory separator)
temp/
